body {
    margin: 0;
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #e0e0e0; /* Fondo gris claro para el encabezado */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    height: 60px;
}

.prese {
    padding-left: 20px; /* Espacio a la izquierda del logo */
}

header .prese h1 {
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
    color: black; /* Color del texto del logo */
}

.nav-list {
    background-color: #333; /* Fondo negro para el menú */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px; /* Espacio a la derecha del menú */
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
}

.nav-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin-bottom: 15px; /* Espacio entre los elementos del menú */
}

.nav-list li a {
    text-decoration: none;
    color: white; /* Color de texto del menú */
    font-weight: bold;
}

.botone {
    display: none;
}

@media screen and (max-width: 768px) {
    .botone {
        display: block;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        align-items: end;
    }

    .nav {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 2rem;
        align-items: end;
    }

    .nav li a {
        text-decoration: none;
        color: white;
        align-items: end;
    }
}
