/* Estilo para el contenedor del encabezado */
header {
    background-color: #2b8aaf;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    height: 90px;
    position: relative;
}

/* Contenedor flex para el título y la imagen */
.prese {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}

/* Estilo para el título h1 */
.prese h1 {
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    font-size: 1.5em; /* Ajusta el tamaño de la fuente según sea necesario */
}

/* Estilo para el contenedor de la imagen */
.logo {
    width: 161px;
    height: 91px;
    margin-right: 20px;
    display: flex;
    align-items: center; /* Centra la imagen verticalmente */
}

.logo img {
    max-height: 100%; /* Ajusta la altura máxima de la imagen para mantener la proporción */
}

/* Estilo para los botones del menú */
.menu-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para el botón */
.botone {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 20px;
}

.botone2 {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 145px;
    margin-bottom: 40px;
}





/* Estilo para el botón "Cerrar" */
#closeMenu {
    display: none; /* Oculta el botón "Cerrar" por defecto */
}
/* Estilos para el menú de navegación */
.nav-list {
    background-color: #333;
    font-size: large;
    height: 90vh;
    display: none;
    flex-direction: column;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 0;
    width: 215px;
    z-index: 1000;
}

/* Estilos para la lista de navegación */
.nav-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin-bottom: 15px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Estilo para el logo en el menú de navegación */
.Logo2 {
    width: 190px;
    height: 95px;
    display: block;
    margin-top: 390px;
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 797px) {
    .menu-buttons {
        display: flex;
    }

    .nav-list {
        display: none; /* Oculto por defecto */
    }

    .nav-list.open {
        display: flex; /* Mostrar cuando está abierto */
        flex-direction: column;
        align-items: flex-start;
    }

    .nav li a {
        color: white;
    }
}
